@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans.woff2) format("woff2") url(../fonts/OpenSans.woff)
    format("woff");
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Light.woff2) format("woff2")
    url(../fonts/OpenSans-Light.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Semibold.woff2) format("woff2")
    url(../fonts/OpenSans-Semibold.woff) format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2")
    url(../fonts/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: radial-gradient(
    circle,
    #1c7fc2 0%,
    #009cdc 28%,
    #0d9ade 32%,
    #011844 100%
  );
  color: #fff;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.weather {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
  white-space: nowrap;
}
.weather-search {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: 40px;
  border: none;
  font-size: 20px;
  color: #fff;
}

.weather-search::placeholder {
  color: #fff;
}
.weather-today {
  display: flex;
  justify-content: space-between;
}
.weather-details {
}
.weather-city {
  margin-bottom: 15px;
  font-size: 40px;
}
.weather-day {
  margin-bottom: 30px;
  font-size: 30px;
}
.weather-information {
}
.weather-indicator {
  margin-bottom: 15px;
}

.weather-indicator::before {
  content: " ";
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  margin-right: 10px;
}

.weather-indicator-humidity::before {
  background-image: url(../images/humidity.png);
}

.weather-indicator-wind::before {
  background-image: url(../images/wind.png);
}
.weather-indicator-pressure::before {
  background-image: url(../images/pressure.png);
}
.weather-img {
  width: 30vmin;
  align-self: center;
}
.weather-temperature {
  font-size: 60px;
}
.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.weather-forecast-item {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 30px 5px 20px;
  text-align: center;
  margin: 0px 10px 10px;
  min-width: 150px;
  width: calc(20%-20px);
  flex-grow: 1;
}
.weather-forecast-img {
  max-width: 50%;
}
.weather-forecast-day {
  margin-bottom: 20px;
  margin-top: 20px;
}
.weather-forecast-temperature {
  margin-bottom: 30px;
}
